%form.form-horizontal#connectForm{:method => "POST", :action => "/"}
	.form-group
		%label.control-label
			Mongo string connection:
		%input.form-control{:type => "text", :name => "connectionString", :placeholder => "<mongodb://username:pass@host:port/db>"}
	.form-group
		%button.btn.btn-primary.btn-large
			Connect to database!