.row
	.col-lg-3
		%h4 #{session[:db].name}
		%ul.nav.nav-tabs.nav-stacked.nav-pills
			- session[:db].collection_names.each do |collection|
				%li
					%a{:href => "/collection/#{collection}"}
						#{collection}
	.col-lg-9
		= yield